<!-- POST PREVIEW SET RIGHT -->
<div class="post-preview-set-right">
            <!-- POST PREVIEW -->
            <div class="post-preview picture gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/07.jpg" alt="post-07">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">New expansion pack coming to "Rise of Depredators"</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Gaming news</span>
                  <!-- /TAG ORNAMENT -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview picture game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/25.jpg" alt="post-25">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">"Legend of Kenshi II" is a bit green for now</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Game reviews</span>
                  <!-- /TAG ORNAMENT -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="content-news-rate-2" class="arc small"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview picture geeky-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v4.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/18.jpg" alt="post-18">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">"Ichigo Idol" anime will have a new season in April</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Geeky news</span>
                  <!-- /TAG ORNAMENT -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SET RIGHT -->