 <!-- WIDGET ITEM -->
 <div class="widget-item">
    <!-- SECTION TITLE WRAP -->
    <div class="section-title-wrap violet small-space">
      <h2 class="section-title medium">eSports Standings Big</h2>
      <div class="section-title-separator"></div>
    </div>
    <!-- /SECTION TITLE WRAP -->

    <!-- TABLE -->
    <div class="table standings full">
      <!-- TABLE ROW HEADER -->
      <div class="table-row-header">
        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item position">
          <p class="table-row-header-title">Position</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">Wins</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">Losses</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">Kills</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">Deaths</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">Assists</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded">
          <p class="table-row-header-title">KDA.R</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item">
          <p class="table-row-header-title">Overall Record</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item">
          <p class="table-row-header-title">Match Record</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->
      </div>
      <!-- /TABLE ROW HEADER -->

      <!-- TABLE ROWS -->
      <div class="table-rows">
        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">01</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/01.png" alt="logo-01">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">The Lone Wolves</p>
                <p class="team-country">United States</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">24</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">6</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">620</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">341</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">1243</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">7.8</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">14 - 2</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">28 - 14</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">02</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/02.png" alt="logo-02">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Raging Rhinos</p>
                <p class="team-country">South Africa</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">22</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">8</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">590</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">368</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">1164</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">7.1</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">12 - 4</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">27 - 13</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">03</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/03.png" alt="logo-03">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Los Toreros</p>
                <p class="team-country">Spain</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">21</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">9</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">543</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">389</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">1043</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">6.5</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">11 - 5</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">26 - 11</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">04</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/04.png" alt="logo-04">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Siberian Tigers</p>
                <p class="team-country">Russia</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">19</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">11</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">501</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">402</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">996</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">6.2</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">9 - 7</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">20 - 19</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">05</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/05.png" alt="logo-05">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Crimson Pack</p>
                <p class="team-country">Japan</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">18</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">12</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">433</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">435</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">947</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">5.9</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">8 - 8</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">19 - 21</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->
      </div>
      <!-- /TABLE ROWS -->
    </div>
    <!-- /TABLE -->

    <!-- TABLE -->
    <div class="table standings mobile">
      <!-- TABLE ROW HEADER -->
      <div class="table-row-header">
        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item position">
          <p class="table-row-header-title">Position</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded-big">
          <p class="table-row-header-title">W/L</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded-big">
          <p class="table-row-header-title">K/D/A</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->

        <!-- TABLE ROW HEADER ITEM -->
        <div class="table-row-header-item padded-big">
          <p class="table-row-header-title">KDA.R</p>
        </div>
        <!-- /TABLE ROW HEADER ITEM -->
      </div>
      <!-- /TABLE ROW HEADER -->

      <!-- TABLE ROWS -->
      <div class="table-rows">
        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">01</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/01.png" alt="logo-01">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">The Lone Wolves</p>
                <p class="team-country">United States</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">24 / 6</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">620 / 341 / 1243</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">7.8</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">02</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/02.png" alt="logo-02">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Raging Rhinos</p>
                <p class="team-country">South Africa</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">22 / 8</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">590 / 368 / 1164</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">7.1</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">03</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/03.png" alt="logo-03">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Los Toreros</p>
                <p class="team-country">Spain</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">21 / 9</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">543 / 389 / 1043</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">6.5</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">04</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/04.png" alt="logo-04">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Siberian Tigers</p>
                <p class="team-country">Russia</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">19 / 11</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">501 / 402 / 996</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">6.2</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->

        <!-- TABLE ROW -->
        <div class="table-row">
          <!-- TABLE ROW ITEM -->
          <div class="table-row-item position">
            <!-- TABLE TEXT -->
            <p class="table-text">05</p>
            <!-- /TABLE TEXT -->

            <!-- TEAM INFO WRAP -->
            <div class="team-info-wrap">
              <!-- TEAM LOGO -->
              <img class="team-logo small" src="img/teams/logos/05.png" alt="logo-05">
              <!-- /TEAM LOGO -->
              
              <!-- TEAM INFO -->
              <div class="team-info">
                <p class="team-name">Crimson Pack</p>
                <p class="team-country">Japan</p>
              </div>
              <!-- /TEAM INFO -->
            </div>
            <!-- /TEAM INFO WRAP -->
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">18 / 12</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">433 / 435 / 947</p>
          </div>
          <!-- /TABLE ROW ITEM -->

          <!-- TABLE ROW ITEM -->
          <div class="table-row-item">
            <p class="table-text bold">5.9</p>
          </div>
          <!-- /TABLE ROW ITEM -->
        </div>
        <!-- /TABLE ROW -->
      </div>
      <!-- /TABLE ROWS -->
    </div>
    <!-- /TABLE -->
  </div>
  <!-- /WIDGET ITEM -->